.item-box {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-box {
  padding-bottom: 15px;
  padding-right: 20px;
}

.image {
  height: 320px;
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.text-box {
  padding: 10px;
  max-height: 320px;
  background-color: #7e174d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.buy-box {
  background-color: white;
  color: #7e174d;
  padding: 10px;
  text-align: right;
}

.button {
  margin-top: 10px;
  margin-left: 10px;
}

h1, h4 {
  color: white;
  text-shadow: 3px 3px #e22d8b;
}