<div class="item-box">
  <div class="image-box">
    <img class="image" [src]="item.image">
  </div>

  <div class="text-box">
    <h1>{{item.name}}</h1>
    <p>{{ item.description}}</p>
    <h4>€{{item.price}}</h4>

    <div class="buy-box">
      <h5>amount in cart:</h5>
      <input class="form-control" type="number" #amount (focusout)= "setAmount(amount)" value="1" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100">
      <button class="button" (click)="addToShopCart()">add</button>
      <button class="button" routerLink="/shop">back</button>
    </div>
  </div>

</div>

