<div class="container" *ngIf="products.length > 0; else noProducts">
  <div class="product" *ngFor="let product of products; let i = index">
    <img class="image" [src]="product.product.image">
    <form class="productDetail" [formGroup]="forms[i]" (focusout)="onSubmit(i)">
      <h2>{{product.product.name}}</h2>
      <input type="number" min="0" [formControl]="forms[i].controls['amount']">
      <div class="buttons">
        <button type="submit" class="button">change</button>
        <button class="button" (click)=deleteProduct(i)>delete</button>  
      </div>
      <div class="text">
        <h5>per item: €{{product.product.price | number : '1.2-2'}}</h5>
        <h3>total: €{{ product.product.price * product.amount | number : '1.2-2'}}</h3> 
      </div>  
    </form>
    
  </div>
  <div class="checkout" *ngIf="products.length > 0">
    <h2>total amount: €{{ totalPrice | number : '1.2-2'}}</h2>
    <a href="https://paypal.me/Lcrama/ {{ totalPrice }}" class="button">check out</a>
  </div>
</div>

<ng-template  #noProducts>
  <div class="productless" #noProducts>
    <h1>this shopping cart is emptier than space...</h1>
    <button class="button" routerLink="/shop">buy something already.</button>
  </div>
</ng-template>