.container {
    background-color: #7e174d;
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product {
    display: inline-block;
    border-bottom: 1px solid pink;
}

.productDetail {
    display: inline;
    margin: 20px;
}

.text {
    float: right;
}
  
.image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.checkout {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productless {
    font-size: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.button {
    margin: 5px;
    padding: 10px;
}

.input {
    width: 400px;
}

input {
    width: 400px;
}

h2, h3, h5 {
    color: white;
    text-shadow:    3px 3px #e22d8b;
}

@media only screen and (max-width: 670px) {
    .container {
      margin-top: 4em;
    }

    .productless {
        margin-top: 4em;
        padding: 1em;
    }

    input {
        width: 100%;
    }
}