.center{
    width: 60%;
    margin: auto;
    display: block;
    font-weight: bold;
}
.button{
    margin: auto;
    display: block;
}

.vertical-center{
    margin: auto;
}

@media screen and (max-width: 1000px) {
  
    .vertical-center{
        padding-top: 8%;
    }
  
    .center{
      width: 50%;
      margin-left: 25%;
    }
}