.product-card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  word-break: break-all;
  color: #7e174d;
  cursor: pointer;
}

.product-card:hover {
  background-color: #7e174d;
  color: white;
}


.sized {
    width: 300px;
}